body{
    min-height: 100vh;
}

.footer-botao{
    min-height:50px;
    border-radius: 20px;
    background-color: rgb(157, 168, 150);
    height: 8vh;
    width: 100vw;
    display: flex; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready{
    background-color: #00ff00;
}