.grid{
    width: 360px;
    height: 683px;
    display:grid;
    
}

.button{
    font-size: 40px;
    border: 1px;
    border-style:solid;
    border-color: red;
    grid-template-columns: 20px 20px 20px;
}

.numbers{
    display: flex;
    align-items: flex-start;
}