.header-container {
  display: flex;
  align-items: center;

  width: 100vw;
  height: 92px;

  padding-left: 15px;

  background-color: #cf2b2b;
}

.header-title {
  font-family: "Righteous", cursive;
  color: #fff;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.528px;
}

.header-subtitle {
  font-family: "Roboto", sans-serif;
  color: #fff;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
