@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.top{
    display: flex;
    flex-direction: row;
}

.top_text{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 600px;
    padding-top: 5px;
    margin-left: 34px;
    background: #F6F7F9;

}

.vem_pro_fut_vem{
    display: flex;
    flex-direction: row;
}

.price{
    color: #2493F8;
    
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cloth{
    margin-top: 10px;
}
.cloth{
    color: #67737E;
    
}

.botao{
    width: 100px;
    aspect-ratio: 16/9;
    margin-top: 30px;
    border-radius: 3px;
    background: #2493F8;
    border-style: none;
}

.caracty{
    background-color:#FFF ;
}

.icon_format{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.foot_text{
    color: #67737E;
    
}